@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(1200px 800px at 50% 20%, #0b1b35 0%, #05070c 55%, #000 100%);
  color: rgba(255,255,255,.92);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Apple Color Emoji","Segoe UI Emoji";
}
